## Quiz #0202

In [1]:
import pandas as pd
import numpy as np
import os

#### Read in the data.

In [2]:
# Go to the directory where the data file is located. 
# os.chdir(r'~~')                # Please, replace the path with your own.

In [3]:
df = pd.read_csv('data_census.csv', header='infer')

In [4]:
df.shape

(281, 6)

In [5]:
df.head(10)

,ProvinceCode,CityCode,Population,Households,PersonsHousehold,GenderRatio
0,109,1001,10078850,4197478,2.40,0.97
1,109,1188,155695,72882,2.14,0.98
2,109,1189,126817,59614,2.13,1.00
3,109,1158,235186,108138,2.17,0.94
4,109,1105,298145,126915,2.35,0.99
5,109,1032,362197,158769,2.28,0.97
6,109,1065,362604,160110,2.26,1.01
7,109,1190,417976,177077,2.36,1.00
8,109,1106,464176,192670,2.41,0.96
9,109,1006,333523,141325,2.36,0.97

#### Answer the following questions using Pandas library.

1). Total population of ProvinceCode equal to 115 and 116:

In [6]:
df[(df.ProvinceCode==115)|(df.ProvinceCode==116)].Population.sum()

5970327

2). Average population of the cities where there are more males (GenderRatio >1):

In [7]:
df[df.GenderRatio>1].Population.mean()

419221.2076923077

3). Places with more males  (GenderRatio >1) and less than 2 persons per household:

In [10]:
df[(df.GenderRatio>1)&(df.Households<2)]#Households min values is 5365

Empty DataFrame
Columns: [ProvinceCode, CityCode, Population, Households, PersonsHousehold, GenderRatio]
Index: []

4). Sort the DataFrame in ascending order of the 'Households'. Show the top 10.

In [13]:
df.sort_values("Households",ascending=True).head(10)

,ProvinceCode,CityCode,Population,Households,PersonsHousehold,GenderRatio
253,104,1163,10304,5365,1.92,1.15
244,104,1147,17984,8769,2.05,0.97
200,114,1179,23308,10877,2.14,0.98
150,101,1130,24283,11162,2.18,1.17
62,112,1155,20825,11172,1.86,1.29
199,114,1073,25181,11723,2.15,0.98
241,104,1039,24096,12091,1.99,1.00
213,113,1034,27115,12465,2.18,0.95
198,114,1193,26325,12531,2.10,1.00
243,104,1208,26353,13233,1.99,0.98